@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "google";
  src: url(https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2);
}

/* light shade: #e4d6f5 */

@layer components {
  body {
    width: 100%;
  }
  .zen-container {
    @apply flex pt-24 pb-24 items-center p-4 md:p-24;
  }
  .back {
    background-color: #e4d6f5;
    background: url("/cosmos.png") center center no-repeat;
  }
  /*Used flex-box for better box placement*/
  .header__main1 {
    /*whole navbar*/
    width: 100%;
    position: fixed;
    z-index: 99;
  }
  .header__main {
    display: flex;
    background-color: #030035;
    height: fit-content;
    margin: 20px 0;
    padding: 10px 0px 10px 0px;
    align-items: center;
    box-shadow: 5px 2px 5px 3px rgba(0, 0, 0, 0.2);
    font-family: "google";
    width: 95%;
    border-radius: 30px;
  }
  .header__menu {
    /*main block of all the links*/
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
  }
  .nav__links {
    /*individual links*/
    margin-left: 20px;
    padding: 7px 12px 7px 12px;
    /*border: 1px solid;*/
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    /*font-weight:700;*/
    text-decoration: none;
    color: white;
  }
  .nav__links:hover {
    background-color: white;
    text-decoration: none;
    color: black;
  }
  .header__logo {
    /*dsc logo on the navbar*/
    padding-left: 20px;
  }
  .image {
    object-fit: contain;
    height: 40px;
    padding: 5px;
  }
  .header__burger {
    /*the burger navbar when layout is changed*/
    display: none;
  }

  @media screen and (max-width: 750px) {
    /*when width is less than 750px below defined properties will be enabled*/
    .header__menu {
      display: none;
    }
    .header__burger {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-left: 20px;
    }
    .header__burger > i {
      margin-right: 5px;
      padding: 7px 12px 7px 12px;
      border: 1px solid #030035;
    }
    .header__burger > i:hover {
      border-radius: 5px;
      border: 1px solid gray;
      padding: 7px 12px 7px 12px;
    }
    .resp {
      display: flex;
      width: 100%;
      align-items: center;
    }
  }

  @media screen and (max-width: 750px) {
    .header__main.responsive {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
    }
    .header__menu.responsive {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  /* For timeline */
  .intro {
    /* background: #1f1c3b; */
    /* padding: 80px 0; */
  }
  .container {
    /* width: 90%; */
    /* max-width: 1180px; */
    /* max-width: 1180px; */
    /* margin: 0 auto; */
    /* text-align: center; */
  }
  .container > h1 {
    /* text-transform: uppercase; */
    /* letter-spacing: 10px; */
    /* font-size: 60px; */
    /* border: 5px solid #fff; */
    /* border-radius: 15px; */
    /* padding: 10px; */
  }

  .timeline ul {
    /* background: #bebceb;
    padding: 50px 0; */
  }

  .timeline ul li {
    /* list-style-type: none; */
    /* position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #030035; */
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #030035;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #667dd9;
    border-radius: 8px;
  }

  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -20px;
    border-width: 10px 18px 10px 0;
    border-color: transparent #030035 transparent transparent;
  }

  .timeline ul li:nth-child(even) div {
    left: -439px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -20px;
    border-width: 10px 0 10px 18px;
    border-color: transparent transparent transparent #030035;
  }
  .container-card {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  time {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    background: #030035;
    outline: none;
  }
  /* Effects */
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: #030035;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
}
